@use "sass:map";
@import "style/pages/theme";

.footer {
    background: #f3f6fa;
    padding: 70px;
    padding-bottom: 0;

    .footer_about {
        margin-bottom: 30px;

        .footer_about_logo {
            margin-bottom: 15px;
            display: inline-block;
        }

        ul li {
            font-size: 16px;
            color: map.get($them-colors , "normal-text");
            line-height: 36px;
            list-style: none;
        }
    }

    .footer_widget {
        margin-bottom: 30px;
        overflow: hidden;

        h6 {
            color: map.get($them-colors , "normal-text");
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 700;
        }

        ul {
            float: left;
            width: 50%;

            li {
                list-style: none;

                a {
                    color: map.get($them-colors , "normal-text");
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }

        p {
            font-size: 14px;
            color: map.get($them-colors , "normal-text");
            margin-bottom: 30px;
        }

        form {
            position: relative;
            margin-bottom: 30px;

            input {
                width: 100%;
                font-size: 16px;
                padding-left: 20px;
                color: map.get($them-colors , "normal-text");
                height: 46px;
                // border: 1px solid #ededed;

                ::placeholder {
                    color: map.get($them-colors , "normal-text");
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 26px;
                height: 100%;
            }
        }

    }
}

.categories {
    position: relative;

    .categories_all {
        background: map.get($them-colors, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
        svg,
        span {
            font-size: 16px;
            
            margin-right: 5px;
            font-weight: 700;
        }

        svg {
            font-size: 20px;
            font-weight: bold;
        }
    }

    ul {

        position: absolute;
        opacity: 1;
        border: 1px solid #ebebeb;
        width: 99%;
        background: #ffffff;
        transition: all 0.2s;

        li {
            list-style: none;

            a {
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: map.get($them-colors , "normal-text");
                line-height: 39px;
                padding-left: 60px;
            }

            &:hover {
                background: #f7ffff;

                a {
                    color: map.get($them-colors , "main");
                }
            }
        }
        &.hidden {
            opacity: 0;
        }
    }
    
}
.search_container {
   

    .search_form {
        width: 610px;
        height: 50px;
        float: left;
        padding-left: 15px;
    }
    form {
        display: flex;
        align-items: center;
    }
    input {
        border: none;
        height: 48px;
        font-size: 16;
        color: #b2b2b2;
        padding-left: 20px;
        border: 1px solid #ebebeb;
        width: 70%;
        :focus {
            outline: none;
            border: none;
        }
    }

    button {
        font-size: 14px;
        color: #ffffff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        padding: 16px 30px 17px;
        background: map.get($them-colors, "main");
        border: none;
        height: 100%;
    }
}